body{
    padding: 0px;
    margin:0px;
    width: 100%;
    height:100%;
}
.main-content{
    width: 100%;
    height:667px;
}
.north{
    width: 100%;
    height:73px;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid transparent;
}
.center{
    border: none
}
.west{
    width:188px;
}
.logo{
    /*opacity: 0.5;*/
    height: 93px;
    width: 162px;
    margin-left: -15px;
}
.logo-word{
    font-family: "微软雅黑";
    color: rgb(109, 109, 132);
    position: absolute;
    /* margin-top: -156px; */
    /* border: 1px solid; */
    top: 22px;
    margin-left: -33px;
    font-size: xx-large;
    text-shadow: 1px 1px rgba(197, 223, 248,0.8),2px 2px rgba(197, 223, 248,0.8),3px 3px rgba(197, 223, 248,0.8),4px 4px rgba(197, 223, 248,0.8),5px 5px rgba(197, 223, 248,0.8),6px 6px rgba(197, 223, 248,0.8);
}
.panel-header, .panel-body {
    border-color: #7EACF5;
}
.panel-title {
   /* background-color:#FBEDF3;*/
    font-size: inherit;
    font-weight: normal;
    color: #0E2D5F;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
.tabs-header, .tabs-tool {
     background-color: #E0ECFF;
     width:43px;
}
.tabs-wrap{
    margin: 0 auto;
    width:45px;
}
.my-menu{
    width:125px
}
.panel{
    width:100%
}
.my-ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.my-ul li{
    padding: 5px;
    background-color: #FCFDFD;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.my-ul li a{
    text-decoration: none;
    cursor: pointer;
    color:black
}
.my-ul li a:hover{
    color: dodgerblue;
}
.accordion .accordion-header-selected {
    background: #C3E8ED;
}
.tabs-header, .tabs-tool {
    background-color: #FAFAFA;
}
/*.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
    border-color: #7EACF5;
}*/
.content-div{
    width: 98%;
    margin: 15px auto;
    height:94%;
    border:1px solid #FAFAFA
}
.datagrid-htable,.datagrid-header-inner,.datagrid-btable{
     width: 100%;
 }
.tool{
    padding: 20px;
}
.tool-span{
    position: relative;
    float: right;
    margin-top: 18px;
}
.i_user{
    width:19px;
    height:19px;
    background: url(../../webpub/platImg/user_logo.png) no-repeat right;
//background-position: -207px 0px;
    float: left;
    margin-top: -1px;
    margin-bottom: 4px;
    margin-right: 5px;
}
.head_user{
    bottom: 15px;
    right: 10px;
    position: absolute;
    /*�������Ҫ,������.head_user����ul��li֮�������ƶ���<p>һ��Ŀ��಻�����li����*/
    margin: 0 auto;
    float: right;
}
.head_user{
    margin-bottom: 0px;
    list-style: none;
    display: inline-flex;
    margin-right: 78px;
}
.head_user li{
    display: inline-block;
    float: left;
    margin: 0 5px;
}
.head_user a{
    color:black;
}
.head_user a:hover{
    text-decoration: none;
    cursor: pointer;
}
